
<h1>Booking Data </h1>
<h1>Welcome to Admin </h1>
<h2><%= current_user.name %></h2>
<table>
  <tr>
    <th>Owner Name</th>
    <th>Email</th>
    <th>Contact</th>
    <th> Car_number</th>
    <th>Model</th>
    <th>Car_Name</th>
    <th>Issue</th>
    <th>City</th>
    <th>Location</th>
    <th>Satus</th>
    <th>Action</th> 
  </tr>
  <% @bookings.each do |book|%>
    <tr>
      <td><%= book.user.name %></td>
      <td><%= book.user.email %></td>
      <td><%= book.user.contact %></td>
      <td><%= book.car.number %></td>
      <td><%= book.car.model %></td>
      <td><%= book.car.name %></td>
      <td><%= book.issue %></td>
      <td><%= book.user.address.city %></td>
      <td><%= book.user.address.location %></td>
      <td><%= book.status %></td>
      <td>
        <%= link_to 'cancel', cancel_path(book.id), method: 'get'%><br>
        <%= link_to 'confirm', confirm_path(book.id), method: 'get'%><br>
        <%= link_to 'Approvrd', mechanics_path(booking_id: book.id)%><br>
        <%= link_to 'Edit', edit_admin_path(book.user.id), method: 'get' %>
        <%= link_to 'delete', admin_path(book.user.id), method: 'delete', data: { confirm: 'Are you sure?' } %>
      </td> 
    </tr>
  <% end %>
</table>