<h1>Welcome to mechanic </h1>
<h1>Booking Data</h1>
<table>
  <tr>
    <th>Owner Name</th>
    <th>Email</th>
    <th>Contact</th>
    <th>City</th>
    <th>Location</th>
    <th>Car</th>
    <th>Model</th>
    <th>Car_number</th>

  </tr>
    <tr>
      <% @booking.each do |booking| %>   
      <td><%= booking.user.name %></td>
      <td><%= booking.user.email %></td>
      <td><%= booking.user.contact %></td>
      <td><%= booking.user.address.city %></td>
      <td><%= booking.user.address.location %></td>
      <td><%= booking.car.name %></td>
      <td><%= booking.car.model %></td>
      <td><%= booking.car.number %></td>
      <% end %>
      </tr>
</table>

