<%= render  'shared/admin_navbar' %>
<h2>Welcome to Mr. <%= current_user.name%> </h2>
<h2><%= current_user.email%> </h2>
<h4>Mechanic List</h4>
<table>
  <tr>
    <th> Name</th>
    <th> Email</th>
    <th> Contact</th>
    <th>Assine Work</th> 
    <th>Acction</th>
  </tr>
  <% @mech.each do |m|%>
  
    <tr>
      <td><%= m.name %></td>
       <td><%= m.email %></td>
      <td><%= m.contact %></td>
      <td> <%= link_to "assinework", assinework_path(mechanic_id: m.id, booking_id: params[:booking_id]) %></td>
      </tr>
  <%end %>
     