<div class="container">  
  <nav class='nav'>
  <h1 align="center">Booking Service</h1>
  </nav>
  <%= form_for @booking,url: {action: :create} do |f| %> 
   <%= f.collection_select :user_id, User.where(role: 'mechanic'),:id, :name %>
   <%#= f.collection_select :service_id, Service.all, :id, :details %>
    <%= f.hidden_field :user_id, value: current_user.id%>            
    <div>  
      <label>Issue</label>   
      <%= f.text_area :issue %>   
    </div><br> 
    <div>  
      <label>Date</label>   
      <%= f.date_field :date %>   
    </div><br> 
    <div>
    <% if current_user.cars.present? %>
      <%= f.collection_select :car_id, current_user.cars, :id, :name %>
    <% end %>  
    </div><br>

    <div>   
      <%= link_to 'Back', { controller: 'bookings', action: 'index'} %>   
      <%= f.submit 'Create Booking' %>   
    </div>   
  <% end %>   
</div>  