<table>
  <tr>
    <th>Owner_name</th>
    <th>Contact</th>
    <th>Email_ID</th>
    <th>Car_name</th>
    <th>Number</th>
    <th>Model</th>
    <th>Issue</th>
  </tr>
  <tr>
    <td><%= @booking.user.name%></td>
    <td><%= @booking.user.contact%></td>
    <td><%= @booking.user.email%></td>
    <td><%= @booking.car.name%></td>
    <td><%= @booking.car.number%></td>
    <td><%= @booking.car.model%></td>
    <td><%= @booking.issue%></td>
  </tr>
  <div>   
    <%= link_to 'Back', { controller: 'bookings', action: 'index'} %>   
  </div>   
</table>