<div class="container" align="center">    
  <%= form_for @address, url: {action: :update} do |f| %>     
    <div>   
      <label>City</label> 
      <%= f.text_field :city %>   
    </div> <br>  
    <div>   
      <label>Location</label>   
      <%= f.text_field :location %>   
    </div><br>  
     <div>   
      <label>House_no</label>   
      <%= f.text_field :house_no %>   
    </div><br>  
     <div>   
      <label>User_id</label>   
      <%= f.text_field :user_id %>   
    </div><br>       
    <div>   
      <%= link_to 'Back', { controller: 'addresses', action: 'index'} %>   
      <%= f.submit 'Update address' %>   
    </div>   
  <% end %>   
</div>  