<html>  
  <h1 align="center"> Crud operations</h1> 
  <body>  
    <div class="container">   
      <div>   
        <%= link_to 'Add address', new_address_path(current_user.id)%>   
      </div>   
      <br>   
      <table border="1" width="50%" align="center">   
        <thead>   
          <tr>   
            <th>City</th>   
            <th>Action</th>   
          </tr>   
        </thead>   
        <tbody>   
          <% @addresses.each do |address| %>   
            <tr>   
              <td ><%= address.city %></td>   
              <td>
                <div>
                  <%= button_to 'Show', addresses_path(address), method: 'get'%><br>
                  <%= button_to 'Edit', edit_address_path(address), method: 'get'%><br>
                  <%= button_to 'Remove', address_path(address), method: 'delete', data: { confirm: 'Are you sure?' } %>
                </div>   
              </td>   
            </tr>   
          <% end %>   
        </tbody>   
      </table>   
    </div>   
  </body>   
</html>  

