<div class="container">   
  <%= form_for @address, url: {action: :create} do |f| %>
    <div>   
      <label>City</label>   
      <%= f.text_field :city %>   
    </div>
    <div>   
      <label>Location</label>   
      <%= f.text_field :location %>   
    </div>
    <div>   
      <label>House_no</label>   
      <%= f.text_field :house_no %>        
    </div>   
    <div>   
      <%= link_to 'Back', {controller: 'addresses', action: 'index'} %>   
      <%= f.submit 'Create address' %>   
    </div>   
  <% end %>   
</div>  