<div class="container">   
  <%= form_for @car, url: {action: :create} do |f| %>              
    <div>   
      <label>car Name</label>   
      <%= f.text_field :name %>   
    </div>   
    <div>   
      <label>number</label>   
      <%= f.text_field :number %>   
    </div>
    <div>   
      <label>model</label>   
      <%= f.text_field :model%>        
    </div> 
    <div>   
      <label>company</label>   
      <%= f.text_field :company %>   
    </div>
    <div>   
      <label>User_id</label>   
      <%= f.text_field :user_id %>   
    </div>  
</div>   
    <div>   
      <%= link_to 'Back', { controller: 'cars', action: 'index'} %>   
      <%= f.submit 'Create car' %>    
    </div>   
  <% end %>   
    </div>  