<table>
  <tr>
    <th>name</th>
    <th>number</th>
    <th>model</th>
    <th>company</th>
  </tr>
  <tr>
    <td><%= @car.name %></td>
    <td><%= @car.number %></td>
    <td><%= @car.model%></td>
    <td><%= @car.company %></td>
  </tr>
 <div>   
  <%= link_to 'Back', { controller: 'cars', action: 'index'} %>   
  </div>   
</table>