<!DOCTYPE html>
<html>
  <head>
    <title>Mycar</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%#= javascript_importmap_tags %>
  </head>
  <body>
  <div class= "nav">
  <% if user_signed_in? %>
    <%= button_to "Log Out", session_path(current_user.id), method: :delete %>
  <% end %>
    <div><li class= "service_history"><%= link_to "Service_History", service_history_path%></li></div>
  </div>
  <body>
    <%= yield %>
  </body>
</html>
